#!/usr/bin/env sh

{% import 'macros.j2' as macros %}
{{ macros.autotoken() }}

{% if ppas %}
sudo apt-get install -y software-properties-common
{% for p in ppas -%}
sudo add-apt-repository -y ppa:{{p}}
{% endfor -%}

sudo apt-get update -y

{% endif -%}


{% for p in pkgs -%}
sudo apt-get install -y {{p}}
{% endfor -%}
