#!/usr/bin/env sh

{% import 'macros.j2' as macros %}
{{ macros.autotoken() }}

{% for p in pkgs -%}
VER=$(apt-cache policy "{{p}}" | grep Candidate: | rev | cut -d: -f1 | rev | cut -d- -f1)
echo "{{"{:>40}".format(p) }} ->  [${VER}]"

{% endfor -%}
