#!/usr/bin/env sh

{% import 'macros.j2' as macros %}
{{ macros.autotoken() }}

{% if pkgs %}
missing=0;

{% for p in pkgs -%}
    if $(snap list | cut -f1 -d' ' | tail -n +2 | grep -q '{{p}}' )
    then
        echo "[{{ "{:>40}".format(p)  }}] -> [installed!]";
    else
        echo "[{{ "{:>40}".format(p)  }}] -> [NOT installed!]";
        missing=1;
    fi
{% endfor -%}

{% endif %}
