#!/usr/bin/env sh

{% import 'macros.j2' as macros %}
{{ macros.autotoken() }}

{% for p in pkgs -%}
VER=$(snap info "{{p}}" | grep latest/stable | cut -d: -f2)
echo "{{"{:>40}".format(p) }} ->  [${VER}]"

{% endfor -%}
