#!/usr/bin/env xdg-open

# Global installation
# /usr/share/applications/name.desktop
# Local installation
# ~/.local/share/applications/name.desktop

# Specs should follow:
# https://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-latest.html

# Icons in /usr/share/icons

[Desktop Entry]
Version=1.0
Name=MagicaVoxel
Comment=Test the terminal running a command inside it
Exec=wine /opt/MagicaVoxel/MagicaVoxel.exe
# Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Application;


# Exec=gnome-terminal -e "bash -c 'wine /opt/MagicaVoxel/MagicaVoxel.exe'"
